// ! hero section 
.hero {
  background-image: url('/src/Assets/home/mobile/image-hero-paramour.jpg');
  background-size: cover;
  height: 56rem;
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &__heading {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 4.8rem;
    color: #fff;
    margin-bottom: 1.5rem;
    z-index: 2;
  }

  &__sub-heading {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #fff;
    margin-bottom: 5.7rem;
    z-index: 2;
  }

  &__button {
    @include button;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &__arrow {
    margin-left: 2.4rem;
    font-size: 2.5rem;
  }

  &__overlay {
    content: "";
    position: absolute;
    top: 10rem;
    left: 0;
    bottom: 15.5rem;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
  }
}



// ! welcome section
.welcome {
  padding: 7.2rem 3.2rem;

  &__hr {
    width: 6.5rem;
    margin-bottom: 6.7rem;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    margin-bottom: 2.9rem;
  }

  &__text {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: $dark-grey;
  }
}



// ! about us section
.about-us {
  background-image: url('/src/Assets/home/mobile/image-small-team.jpg');
  background-size: cover;
  height: 56rem;
  position: relative;
  z-index: 1;

  &__overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.4);
    height: 56rem;
    width: 100%;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    color: #fff;
    margin-bottom: 1.5rem;
    z-index: -5;
  }

  &__button {
    @include button;
  }

  &__content-wrapper {
    height: 100%;
    padding: 18rem 3.2rem;
  }
}




// ! featured section
.featured {
  padding: 7.2rem 3.2rem;

  &__heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    margin-bottom: 4.8rem;
  }

  &__card {
    height: 24rem;
    width: auto;
    margin-bottom: 2.4rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
  }

  &__card-title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: #fff;
    margin-bottom: 0.4rem;
    z-index: 2;
  }

  &__view-all {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #fff;
    z-index: 2;
  }

  &__overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    height: 24rem;
    width: 100%;
  }

  &__card-bg {
    &--project-del-sol {
      background-image: url('/src/Assets/portfolio/mobile/image-del-sol.jpg');
    }

    &--tower {
      background-image: url('/src/Assets/portfolio/mobile/image-228b.jpg');
    }

    &--prototype {
      background-image: url('/src/Assets/portfolio/mobile/image-prototype.jpg');
    }
  }
}