// ! home section
.home-page {
  &__home-graphic {
    display: none;

    @include tablet-portrait {
      position: absolute;
      top: -1rem;
      left: -5rem;
      transform: rotate(90deg);
      width: 20rem;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.5rem;
      letter-spacing: 1.5rem;
      text-transform: uppercase;
      color: #c8ccd8;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      span {
        background: #fff;
        margin-left: 2rem;
      }

      &::before,
      &::after {
        background: #c8ccd8;
        height: 2px;
        flex: 1;
        content: '';
      }

      &::after {
        display: none;
      }
    }
  }

  @include tablet-portrait {
    padding: 0 9.8rem;
    position: relative;
  }
}

// ! hero section 
.hero {
  background-image: url('/src/Assets/home/mobile/image-hero-paramour.jpg');
  background-size: cover;
  height: 56rem;
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;

  &__heading {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 4.8rem;
    color: #fff;
    margin-bottom: 1.5rem;
    z-index: 2;

    @include tablet-portrait {
      font-size: 8rem;
      line-height: 8rem;
    }
  }

  &__sub-heading {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #fff;
    margin-bottom: 5.7rem;
    z-index: 2;
  }

  &__button {
    @include button;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &__arrow {
    margin-left: 2.4rem;
    font-size: 2.5rem;
  }

  &__overlay {
    content: "";
    position: absolute;
    top: 0rem;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
  }
}



// ! welcome section
.welcome {
  padding: 7.2rem 3.2rem;

  @include tablet-portrait {
    padding: 7.2rem 0;
  }

  &__hr {
    width: 6.5rem;
    margin-bottom: 6.7rem;

    @include tablet-portrait {
      display: none;
    }
  }

  &__tablet-text {
    display: none;

    @include tablet-portrait {
      display: unset;
      font-size: 12rem;
      font-weight: 700;
      line-height: 20rem;
      letter-spacing: -3px;
      color: #EEEFF4;
    }
  }

  &__heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    margin-bottom: 2.9rem;

    @include tablet-portrait {
      margin-top: -3rem;
      padding-right: 30rem;
    }
  }

  &__text {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: $dark-grey;
  }
}



// ! about us section
.about-us {
  background-image: url('/src/Assets/home/mobile/image-small-team.jpg');
  background-size: cover;
  height: 56rem;
  position: relative;
  z-index: 1;

  &__overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.4);
    height: 56rem;
    width: 100%;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    color: #fff;
    margin-bottom: 1.5rem;
    z-index: -5;

    @include tablet-portrait {
      font-size: 5.6rem;
      line-height: 5.6rem;
      padding-right: 10rem;
      margin-bottom: 3rem;
    }
  }

  &__button {
    @include button;
  }

  &__content-wrapper {
    height: 100%;
    padding: 18rem 3.2rem;
  }
}




// ! featured section
.featured {
  padding: 7.2rem 3.2rem;

  @include tablet-portrait {
    padding: 7.2rem 0;
  }

  &__tablet-flex-wrapper {
    @include tablet-portrait {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15rem 0 9rem;
    }
  }

  &__heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    margin-bottom: 4.8rem;

    @include tablet-portrait {
      margin-bottom: 0;
    }
  }

  &__card {
    height: 24rem;
    width: auto;
    margin-bottom: 2.4rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
  }

  &__card-title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: #fff;
    margin-bottom: 0.4rem;
    z-index: 2;
  }

  &__view-all {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #fff;
    z-index: 2;
  }

  &__card-number {
    @include tablet-portrait {
      position: absolute;
      top: 2rem;
      right: 0;
      z-index: 5;
      opacity: 50%;
      font-family: Spartan;
      font-size: 200px;
      font-style: normal;
      font-weight: 700;
      line-height: 200px;
      letter-spacing: -5px;
      text-align: right;
      color: #fff;
    }
  }

  &__overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    height: 24rem;
    width: 100%;
  }

  &__card-bg {
    &--project-del-sol {
      background-image: url('/src/Assets/portfolio/mobile/image-del-sol.jpg');
    }

    &--tower {
      background-image: url('/src/Assets/portfolio/mobile/image-228b.jpg');
    }

    &--prototype {
      background-image: url('/src/Assets/portfolio/mobile/image-prototype.jpg');
    }
  }

  &__see-more-button {
    @include button;
    width: 100%;

    &--mobile-btn {
      @include tablet-portrait {
        display: none;
      }
    }

    &--tablet-btn {
      @include tablet-portrait {
        width: 16.9rem;
      }
    }
  }
}