@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800&display=swap");
@media (min-width: 600px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__nav {
  display: none;
}

@media (min-width: 600px) {
  .header__nav {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header__nav {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 16.5rem;
  }
}

.header__nav-wrapper {
  padding: 3.2rem;
}

.header__nav-cta-btn {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  padding: 1.2rem 2.4rem;
  border: none;
  background-color: #000000;
}

.header__logo {
  height: 7.7rem;
  height: 3.2rem;
}

@media (min-width: 1200px) {
  .header__logo {
    padding-left: 16.5rem;
  }
}

.header__nav-item {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .header__nav-item--tablet {
    margin-right: 3.7rem;
  }
}

.header__hamburger-btn {
  display: block;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 4rem;
  height: 3rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background-color: transparent;
  z-index: 15;
}

@media (min-width: 1200px) {
  .header__hamburger-btn {
    display: none;
  }
}

.header__hamburger-btn:focus {
  outline: none;
}

.header__hamburger-btn--active .header__hamburger-line-1 {
  -webkit-transform: translateY(-10px) translateX(0) rotate(45deg);
          transform: translateY(-10px) translateX(0) rotate(45deg);
}

.header__hamburger-btn--active .header__hamburger-line-2 {
  -webkit-transform: translateY(1px) translateX(0) rotate(-45deg);
          transform: translateY(1px) translateX(0) rotate(-45deg);
}

.header__hamburger-line-1, .header__hamburger-line-2 {
  background: #000000;
  width: 30px;
  height: 0.2rem;
  position: absolute;
  left: 65%;
  margin-left: -2rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__hamburger-line-1 {
  top: 70%;
}

.header__hamburger-line-2 {
  top: 30%;
  height: 0.15rem;
}

.header__main-nav {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__main-nav--responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 6rem 0;
  top: 0;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 10;
  height: 100%;
}

.header__responsive-nav-cta {
  background-color: #000000;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 700;
  padding: 1.4rem 6.8rem;
  margin-top: 4.1rem;
}

.footer {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 9.2rem 0 4.8rem;
  background-color: #EEEFF4;
}

.footer__logo {
  background: #1B1D23;
  position: absolute;
  top: -7rem;
  padding: 5rem 3rem;
}

.footer__nav-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav-link {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 3.2rem;
  color: #7D828F;
}

.footer__button {
  border: none;
  padding: 2.4rem 3.2rem;
  width: 25.2rem;
  height: 7.2rem;
  color: #fff;
  background: #1b1d23;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  background-image: url("/src/Assets/home/mobile/image-hero-paramour.jpg");
  background-size: cover;
  height: 56rem;
  padding: 0 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__heading {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: #fff;
  margin-bottom: 1.5rem;
  z-index: 2;
}

.hero__sub-heading {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #fff;
  margin-bottom: 5.7rem;
  z-index: 2;
}

.hero__button {
  border: none;
  padding: 2.4rem 3.2rem;
  width: 25.2rem;
  height: 7.2rem;
  color: #fff;
  background: #1b1d23;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.hero__arrow {
  margin-left: 2.4rem;
  font-size: 2.5rem;
}

.hero__overlay {
  content: "";
  position: absolute;
  top: 10rem;
  left: 0;
  bottom: 15.5rem;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.welcome {
  padding: 7.2rem 3.2rem;
}

.welcome__hr {
  width: 6.5rem;
  margin-bottom: 6.7rem;
}

.welcome__heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
  margin-bottom: 2.9rem;
}

.welcome__text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #60636d;
}

.about-us {
  background-image: url("/src/Assets/home/mobile/image-small-team.jpg");
  background-size: cover;
  height: 56rem;
  position: relative;
  z-index: 1;
}

.about-us__overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
  height: 56rem;
  width: 100%;
}

.about-us__heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: #fff;
  margin-bottom: 1.5rem;
  z-index: -5;
}

.about-us__button {
  border: none;
  padding: 2.4rem 3.2rem;
  width: 25.2rem;
  height: 7.2rem;
  color: #fff;
  background: #1b1d23;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__content-wrapper {
  height: 100%;
  padding: 18rem 3.2rem;
}

.featured {
  padding: 7.2rem 3.2rem;
}

.featured__heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
  margin-bottom: 4.8rem;
}

.featured__card {
  height: 24rem;
  width: auto;
  margin-bottom: 2.4rem;
  padding: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.featured__card-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: #fff;
  margin-bottom: 0.4rem;
  z-index: 2;
}

.featured__view-all {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #fff;
  z-index: 2;
}

.featured__overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  height: 24rem;
  width: 100%;
}

.featured__card-bg--project-del-sol {
  background-image: url("/src/Assets/portfolio/mobile/image-del-sol.jpg");
}

.featured__card-bg--tower {
  background-image: url("/src/Assets/portfolio/mobile/image-228b.jpg");
}

.featured__card-bg--prototype {
  background-image: url("/src/Assets/portfolio/mobile/image-prototype.jpg");
}

.featured__see-more-button {
  border: none;
  padding: 2.4rem 3.2rem;
  width: 25.2rem;
  height: 7.2rem;
  color: #fff;
  background: #1b1d23;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */